{"http_interactions": [{"request": {"body": {"string": "note=speedcurve.py&detail=additional+details+from+speedcurve.py", "encoding": "utf-8"}, "headers": {"Content-Type": "application/x-www-form-urlencoded", "Authorization": "Basic <BASIC_AUTH>"}, "method": "POST", "uri": "https://api.speedcurve.com/v1/deploy"}, "response": {"body": {"string": "{\"status\":\"failure\",\"message\":\"Deploy already in progress\",\"id\":12274}", "encoding": null}, "headers": {"Content-Type": "application/json"}, "status": {"message": "Forbidden", "code": 403}, "url": "https://api.speedcurve.com/v1/deploy"}, "recorded_at": "2015-11-26T09:51:30"}], "recorded_with": "betamax/0.5.1"}