{"http_interactions": [{"request": {"body": {"string": "note=speedcurve.py&detail=additional+details+from+speedcurve.py", "encoding": "utf-8"}, "headers": {"Content-Type": "application/x-www-form-urlencoded", "Authorization": "Basic <BASIC_AUTH>"}, "method": "POST", "uri": "https://api.speedcurve.com/v1/deploy"}, "response": {"body": {"string": "{\"status\":\"success\",\"message\":\"A deployment has been added and testing is underway.\",\"id\":12274,\"info\":{\"tests-added\":[{\"test\":\"151126_JJ_0bbe6e6acc4e50f148ce583ff48eb0f2\",\"browser\":\"chrome\",\"region\":\"us-west-1\",\"template\":\"944\"},{\"test\":\"151126_Z9_b4f7717bd6defd5aef06ef959b243421\",\"browser\":\"chrome\",\"region\":\"us-west-1\",\"template\":\"944\"},{\"test\":\"151126_Z9_4ed42dff5a83a2e41949c9dc305fdbeb\",\"browser\":\"chrome\",\"region\":\"us-west-1\",\"template\":\"944\"},{\"test\":\"151126_Z9_a1415bef80a50e28f9141756d15f9ff3\",\"browser\":\"chrome\",\"region\":\"us-west-1\",\"template\":\"944\"},{\"test\":\"151126_Z9_fa701bfb5130c55c5f75ec8bd9693ac1\",\"browser\":\"chrome\",\"region\":\"us-west-1\",\"template\":\"944\"},{\"test\":\"151126_Z9_1064eed375bf8a3f14c668e2744cb22f\",\"browser\":\"chrome\",\"region\":\"us-west-1\",\"template\":\"944\"}],\"tests-requested\":6}}", "encoding": null}, "headers": {"Content-Type": "application/json"}, "status": {"message": "OK", "code": 200}, "url": "https://api.speedcurve.com/v1/deploy"}, "recorded_at": "2015-11-26T09:51:29"}], "recorded_with": "betamax/0.5.1"}