{"http_interactions": [{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Content-Type": "application/json", "Authorization": "Basic <BASIC_AUTH>"}, "method": "GET", "uri": "https://api.speedcurve.com/v1/notes"}, "response": {"body": {"string": "{\"notes\":[{\"note_id\":15201,\"site_id\":1208,\"timestamp\":1448054588,\"note\":\"'Deploy'\",\"detail\":\"''\"},{\"note_id\":15195,\"site_id\":1208,\"timestamp\":1448053067,\"note\":\"'Deploy'\",\"detail\":\"''\"},{\"note_id\":15194,\"site_id\":1208,\"timestamp\":1448052710,\"note\":\"'Deploy'\",\"detail\":\"''\"},{\"note_id\":15181,\"site_id\":1208,\"timestamp\":1448047558,\"note\":\"'Deploy'\",\"detail\":\"''\"},{\"note_id\":15180,\"site_id\":1208,\"timestamp\":1448047195,\"note\":\"'Deploy'\",\"detail\":\"''\"},{\"note_id\":15158,\"site_id\":1208,\"timestamp\":1448037833,\"note\":\"'speedcurve.[...]
