{"http_interactions": [{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Content-Type": "application/json", "Authorization": "Basic ZmtnN3V4dXk4bTk1OHkyZXM5MWh4MXh5ZzJxdWdnOng="}, "method": "GET", "uri": "https://api.speedcurve.com/v1/tests/151118_QR_a380ad519383d0223518af46f429868e"}, "response": {"body": {"string": "{\"url\":\"http:\\/\\/mom.me\\/\",\"timezone\":\"America\\/Los_Angeles\",\"day\":\"2015-11-18\",\"timestamp\":1447889678,\"test\":\"151118_QR_a380ad519383d0223518af46f429868e\",\"location\":\"us-west-1\",\"run\":1,\"browser\":\"Google Chrome\",\"browser_version\":\"46.0.2490.86\",\"byte\":206,\"render\":2788,\"dom\":7152,\"loaded\":9224,\"size\":2475227,\"image_saving\":46477,\"requests\":148,\"pagespeed\":73,\"speedindex\":4078,\"html_requests\":15,\"html_size\":71866,\"css_requests\":1,\"css_size\":78451,\"js_requests\":58,\"js_size\":781645,\"image_requests\":55,\"image_size\":1102591,\"font_requests\":7,\"font_size\":339090,\"text_requests\":0,\"text_size\":0,\"flash_requests\":1,\"flash_size\":2507,\"other_requests\":6,\"other_size\":2873,\"har\":\"https:\\/\\/wpt.speedcurve.com\\/export.php?test=151118_QR_a380ad519383d0223518af46f429868e\",\"screen\":\"https:\\/\\/wpt.speedcurve.com\\/getfile.php?test=151118_QR_a380ad519383d0223518af46f429868e&file=1_screen.jpg\"}", "encoding": null}, "headers": {"Content-Type": "application/json"}, "status": {"message": "OK", "code": 200}, "url": "https://api.speedcurve.com/v1/tests/151118_QR_a380ad519383d0223518af46f429868e"}, "recorded_at": "2015-11-19T14:41:30"}], "recorded_with": "betamax/0.5.1"}