{"http_interactions": [{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Content-Type": "application/json", "Authorization": "Basic <BASIC_AUTH>"}, "method": "GET", "uri": "https://api.speedcurve.com/v1/deploy/11627"}, "response": {"body": {"string": "{\"id\":11627,\"status\":\"completed\",\"tests-completed\":[{\"test\":\"151120_83_4ec5e10faeaedf0ae774a3fb33aa80be\",\"browser\":\"chrome\",\"region\":\"us-west-1\",\"template\":\"944\"},{\"test\":\"151120_NX_32e854ff38f933e5b5f4292ed32ca789\",\"browser\":\"chrome\",\"region\":\"us-west-1\",\"template\":\"944\"},{\"test\":\"151120_NJ_489a915f63f05ac3fab9083d5a5c4f78\",\"browser\":\"chrome\",\"region\":\"us-west-1\",\"template\":\"944\"},{\"test\":\"151120_NX_df2f552a0d5e69cb59db3d1c0e634323\",\"browser\":\"chrome\",\"region\":\"us-west-1\",\"template\":\"944\"},{\"test\":\"151120_NX_2e28e0ccbe76ad1d654837699aab663e\",\"browser\":\"chrome\",\"region\":\"us-west-1\",\"template\":\"944\"},{\"test\":\"151120_NX_117640921abb50eb55b54154ad7e8758\",\"browser\":\"chrome\",\"region\":\"us-west-1\",\"template\":\"944\"}],\"tests-remaining\":null,\"note\":\"'speedcurve.py'\",\"detail\":\"'additional details from speedcurve.py'\"}", "encoding": null}, "headers": {"Content-Type": "application/json"}, "status": {"message": "OK", "code": 200}, "url": "https://api.speedcurve.com/v1/deploy/11627"}, "recorded_at": "2015-11-20T16:06:10"}], "recorded_with": "betamax/0.5.1"}