{"http_interactions": [{"request": {"body": {"string": "note=speedcurve.py&detail=additional+details+from+speedcurve.py", "encoding": "utf-8"}, "headers": {"Content-Type": "application/x-www-form-urlencoded", "Authorization": "Basic <BASIC_AUTH>"}, "method": "POST", "uri": "https://api.speedcurve.com/v1/deploy"}, "response": {"body": {"string": "{\"status\":\"success\",\"message\":\"A deployment has been added and testing is underway.\",\"id\":11651,\"info\":{\"tests-added\":[{\"test\":\"151120_SY_1bc15dcaab91aca46be602d9f9952962\",\"browser\":\"chrome\",\"region\":\"us-west-1\",\"template\":\"944\"},{\"test\":\"151120_F4_d63175333a8988300b98785323856408\",\"browser\":\"chrome\",\"region\":\"us-west-1\",\"template\":\"944\"},{\"test\":\"151120_F4_f918a12b2feb3f3b5a789cd52b119b6f\",\"browser\":\"chrome\",\"region\":\"us-west-1\",\"template\":\"944\"},{\"test\":\"151120_F4_6db6952eef7efe40852c3e504777f19b\",\"browser\":\"chrome\",\"region\":\"us-west-1\",\"template\":\"944\"},{\"test\":\"151120_F4_d39f281949fe21f7b5d88ccdcc5ff0aa\",\"browser\":\"chrome\",\"region\":\"us-west-1\",\"template\":\"944\"},{\"test\":\"151120_F4_11bbd7185dc6b4ddf680eb65ddd5b552\",\"browser\":\"chrome\",\"region\":\"us-west-1\",\"template\":\"944\"}],\"tests-requested\":6}}", "encoding": null}, "headers": {"Content-Type": "application/json"}, "status": {"message": "OK", "code": 200}, "url": "https://api.speedcurve.com/v1/deploy"}, "recorded_at": "2015-11-20T16:06:10"}], "recorded_with": "betamax/0.5.1"}