{"http_interactions": [{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Content-Type": "application/json", "Authorization": "Basic <BASIC_AUTH>"}, "method": "GET", "uri": "https://api.speedcurve.com/v1/urls/14419?days=30&browser=all"}, "response": {"body": {"string": "{\"url\":\"http:\\/\\/mom.me\\/\",\"tests\":[{\"timezone\":\"America\\/Los_Angeles\",\"day\":\"2015-11-20\",\"timestamp\":1448035312,\"test\":\"151120_4N_e91234660bc7e910995e610d3f8bf7ac\",\"location\":\"us-west-1\",\"run\":3,\"browser\":\"Google Chrome\",\"browser_version\":\"46.0.2490.86\",\"byte\":210,\"render\":2488,\"dom\":6781,\"loaded\":7824,\"size\":2734001,\"image_saving\":42959,\"requests\":144,\"pagespeed\":59,\"speedindex\":3740,\"html_requests\":15,\"html_size\":71694,\"css_requests\":1,\"css_size\":78368,\"js_requests\":59,\"js_size\":825997,\"image_requests\":51,\"image_size\":1318848,\"font_requests\":7,\"font_size\":339089,\"text_requests\":0,\"text_size\":0,\"flash_requests\":0,\"flash_size\":0,\"other_requests\":6,\"other_size\":3335,\"har\":\"https:\\/\\/wpt.speedcurve.com\\/export.php?test=151120_4N_e91234660bc7e910995e610d3f8bf7ac\",\"screen\":\"https:\\/\\/wpt.speedcurve.com\\/getfile.php?test=151120_4N_e91234660bc7e910995e610d3f8bf7ac&file=3_screen.jpg\"},{\"timezone\":\"America\\/Los_Angeles\",\"day\":\"2015-11-20\",\"timestamp\":1448035320,\"test\":\"151120_1Y_1f4d2e80da86084b7cd101047ae9e75e\",\"location\":\"us-west-1\",\"run\":3,\"browser\":\"Google Chrome\",\"browser_version\":\"46.0.2490.86\",\"byte\":211,\"render\":2486,\"dom\":7303,\"loaded\":8443,\"size\":2696562,\"image_saving\":42959,\"requests\":145,\"pagespeed\":72,\"sp[...]
