{"http_interactions": [{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Content-Type": "application/json", "Authorization": "Basic ZmtnN3V4dXk4bTk1OHkyZXM5MWh4MXh5ZzJxdWdnOng="}, "method": "GET", "uri": "https://api.speedcurve.com/v1/deploy/latest"}, "response": {"body": {"string": "{\"id\":11408,\"status\":\"completed\",\"tests-completed\":[{\"test\":\"151119_TN_2c44600fb27064f7079a5aaa99ff03f5\",\"browser\":\"chrome\",\"region\":\"us-west-1\",\"template\":\"944\"},{\"test\":\"151119_KD_8591e2ba3997cef36b7c646445580f6d\",\"browser\":\"chrome\",\"region\":\"us-west-1\",\"template\":\"944\"},{\"test\":\"151119_KD_fd457116cec0874515d5873cc2107018\",\"browser\":\"chrome\",\"region\":\"us-west-1\",\"template\":\"944\"},{\"test\":\"151119_KD_25c4d5edb0f3fd10abf2850b4d4f68a2\",\"browser\":\"chrome\",\"region\":\"us-west-1\",\"template\":\"944\"},{\"test\":\"151119_KD_c98cc685681f8dd8fb7057cc84da4a31\",\"browser\":\"chrome\",\"region\":\"us-west-1\",\"template\":\"944\"},{\"test\":\"151119_KD_cf6106598eb743a41e3801e6f471b60e\",\"browser\":\"chrome\",\"region\":\"us-west-1\",\"template\":\"944\"}],\"tests-remaining\":null,\"note\":\"'Deploy'\",\"detail\":\"''\"}", "encoding": null}, "headers": {"Content-Type": "application/json"}, "status": {"message": "OK", "code": 200}, "url": "https://api.speedcurve.com/v1/deploy/latest"}, "recorded_at": "2015-11-19T17:42:53"}], "recorded_with": "betamax/0.5.1"}