{"http_interactions": [{"request": {"body": {"string": "note=speedcurve.py&site_id=1209&detail=detailsforspeedcurve.py", "encoding": "utf-8"}, "headers": {"Content-Type": "application/x-www-form-urlencoded", "Authorization": "Basic <BASIC_AUTH>"}, "method": "POST", "uri": "https://api.speedcurve.com/v1/deploy"}, "response": {"body": {"string": "{\"status\":\"success\",\"message\":\"A deployment has been added and testing is underway.\",\"id\":12219,\"info\":{\"tests-added\":[{\"test\":\"151125_HC_846e849dc756d7ec2e1caa66377c587e\",\"browser\":\"chrome\",\"region\":\"us-west-1\",\"template\":\"944\"},{\"test\":\"151125_30_b12f80aade3a687574ed254599df0d4e\",\"browser\":\"chrome\",\"region\":\"us-west-1\",\"template\":\"944\"},{\"test\":\"151125_30_625c24125b87973ee13cda1f90c152ce\",\"browser\":\"chrome\",\"region\":\"us-west-1\",\"template\":\"944\"},{\"test\":\"151125_30_fca207699a589d63f9544d07f4a1a0ee\",\"browser\":\"chrome\",\"region\":\"us-west-1\",\"template\":\"944\"},{\"test\":\"151125_30_347f8f583e8289e16041b99a7a179740\",\"browser\":\"chrome\",\"region\":\"us-west-1\",\"template\":\"944\"},{\"test\":\"151125_30_3b63ca7643c0e25357814238711e15f5\",\"browser\":\"chrome\",\"region\":\"us-west-1\",\"template\":\"944\"}],\"tests-requested\":6}}", "encoding": null}, "headers": {"Content-Type": "application/json"}, "status": {"message": "OK", "code": 200}, "url": "https://api.speedcurve.com/v1/deploy"}, "recorded_at": "2015-11-25T20:42:17"}], "recorded_with": "betamax/0.5.1"}