{"http_interactions": [{"request": {"body": {"string": "note=speedcurve.py&site_id=1209&detail=additional+details+from+speedcurve.py", "encoding": "utf-8"}, "headers": {"Content-Type": "application/x-www-form-urlencoded", "Authorization": "Basic <BASIC_AUTH>"}, "method": "POST", "uri": "https://api.speedcurve.com/v1/deploy"}, "response": {"body": {"string": "{\"status\":\"success\",\"message\":\"A deployment has been added and testing is underway.\",\"id\":12220,\"info\":{\"tests-added\":[{\"test\":\"151125_VW_5705b70b51fb15484224116501cfda6b\",\"browser\":\"chrome\",\"region\":\"us-west-1\",\"template\":\"944\"},{\"test\":\"151125_7G_d8c53a1dfcd805b7f5e3a3397545647f\",\"browser\":\"chrome\",\"region\":\"us-west-1\",\"template\":\"944\"},{\"test\":\"151125_7G_c911eb8231ab008f50ec5685597d8698\",\"browser\":\"chrome\",\"region\":\"us-west-1\",\"template\":\"944\"},{\"test\":\"151125_7G_386c73fed55cf2f0d8b10985503c57e2\",\"browser\":\"chrome\",\"region\":\"us-west-1\",\"template\":\"944\"},{\"test\":\"151125_7G_623e7a5aee6343c06ceaa3a39d8dec8e\",\"browser\":\"chrome\",\"region\":\"us-west-1\",\"template\":\"944\"},{\"test\":\"151125_7G_ba19ff33206f3ef6e3af37f4b57cb963\",\"browser\":\"chrome\",\"region\":\"us-west-1\",\"template\":\"944\"}],\"tests-requested\":6}}", "encoding": null}, "headers": {"Content-Type": "application/json"}, "status": {"message": "OK", "code": 200}, "url": "https://api.speedcurve.com/v1/deploy"}, "recorded_at": "2015-11-25T20:46:00"}], "recorded_with": "betamax/0.5.1"}