{"http_interactions": [{"request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Content-Type": "application/json", "Authorization": "Basic <BASIC_AUTH>"}, "method": "GET", "uri": "https://api.speedcurve.com/v1/sites"}, "response": {"body": {"string": "{\"sites\":[{\"name\":\"Mom.me\",\"urls\":[{\"id\":14419,\"url\":\"http:\\/\\/mom.me\\/\"}],\"median\":[{\"timezone\":\"America\\/Los_Angeles\",\"day\":\"2015-11-17\",\"timestamp\":1447799486,\"test\":\"151117_1P_10af900064f9524d231b493d18fc6b1c\",\"location\":\"us-west-1\",\"run\":3,\"browser\":\"Google Chrome\",\"browser_version\":\"46.0.2490.86\",\"byte\":184,\"render\":3080,\"dom\":7091,\"loaded\":7930,\"size\":2422390,\"image_saving\":40778,\"requests\":145,\"pagespeed\":72,\"speedindex\":4188,\"html_requests\":15,\"html_size\":71336,\"css_requests\":1,\"css_size\":78471,\"js_requests\":58,\"js_size\":781976,\"image_requests\":52,\"image_size\":1049172,\"font_requests\":7,\"font_size\":339090,\"text_requests\":0,\"text_size\":0,\"flash_requests\":1,\"flash_size\":2507,\"other_requests\":6,\"other_size\":2874,\"har\":\"https:\\/\\/wpt.speedcurve.com\\/export.php?test=151117_1P_10af900064f9524d231b493d18fc6b1c\",\"screen\":\"https:\\/\\/wpt.speedcurve.com\\/getfile.php?test=151117_1P_10af900064f9524d231b493d18fc6b1c&file=3_screen.jpg\"},{\"timezone\":\"America\\/Los_Angeles\",\"day\":\"2015-11-16\",\"timestamp\":1447740842,\"test\":\"151117_PM_904de749156c132b07b6f4a82b7c8d24\",\"location\":\"us-west-1\",\"run\":2,\"browser\":\"Google Chrome\",\"browser_version\":\"46.0.2490.86\",\"byte\":206,\"render\":2785,\"dom\":6923,\"loaded\":7927,\"size\":2385997,\"image_saving\":35009,\"requests\":83,\"pagespeed\":71,\"spe[...]
